<div  class="row pt-4">
    <div  class="col-sm-12">
        <div  class="element-wrapper">
            <div  class="element-actions">
			<h6 style="color:white">Search</h6>
                <form  style="background-color:white" class="form-inline justify-content-sm-end ng-untouched ng-pristine ng-valid"
                    novalidate=""><select from class="form-control form-control-sm rounded">
					
                        <option style="color:black" value="Pending" ng-reflect-value="Pending">Today</option>
                        <option style="color:black" value="Active" ng-reflect-value="Active">Last Week </option>
                        <option style="color:black" value="Cancelled" ng-reflect-value="Cancelled">Last 30 Days</option>
                    </select></form>
            </div>
			<h1>Cloud Based Taxation System</h1>
            <h6  class="element-header">Support Service Dashboard</h6>
            <div  class="element-content">
                <div  class="tablo-with-chart">
                    <div  class="row">
                        <div  class="col-sm-5 col-xxl-4">
                            <div  class="tablos">
                                <div  class="row mb-xl-2 mb-xxl-3">
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">24</div>
                                            <div  class="label">Active Taxpayer</div>
                                            <div  class="trending trending-up-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-up2"></i></div>
                                        </a></div>
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">12</div>
                                            <div  class="label">Recent Visitors</div>
                                            <div  class="trending trending-down-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-down"></i></div>
                                        </a></div>
                                </div>
                                <div  class="row">
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">52</div>
                                            <div  class="label">Taxpayer Requests</div>
                                            <div  class="trending trending-up-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-up2"></i></div>
                                        </a></div>
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">7</div>
                                            <div  class="label">Taxpayer Comments</div>
                                            <div  class="trending trending-down-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-down"></i></div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div  class="col-sm-7 col-xxl-8">
                            <div  class="element-box pl-xxl-5 pr-xxl-5">
                                <div  class="el-tablo bigger highlight bold-label">
                                    <div  class="value">200</div>
                                    <div  class="label">Unique Visitors</div>
                                </div>
                                <div  class="el-chart-w">
                                    <div  class="chartjs-size-monitor"
                                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div  class="chartjs-size-monitor-expand"
                                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div 
                                                style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                            </div>
                                        </div>
                                        <div  class="chartjs-size-monitor-shrink"
                                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div 
                                                style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div><canvas  class="chartjs-render-monitor" height="306"
                                        id="lineChart" style="display: block; height: 279px; width: 997px;"
                                        width="1096"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="row pt-4">
    <div  class="col-sm-12">
        <div  class="element-wrapper">
            <h6  class="element-header">Recent Taxpayer</h6>
            <div  class="element-box-tp">
                <div  class="table-responsive">
                    <table  class="table table-padded">
                        <thead >
                            <tr >
                                <th ></th>
                                <th >Taxpayer</th>
                                <th >Last Comment</th>
                                <th  class="text-center">Visit Time</th>
                                <th > Request Date</th>
                                <th >Request Status</th>
                                <th >Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar1.jpg"><span >Safa Jabeen</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">User friendly Environment of the system
                                       </div>
                                </td>
                                <td ><span >Today</span><span 
                                        class="smaller lighter">1:52am</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-success-inverted" href="#">1/12/2018</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller green"></span><span >Active</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar2.jpg"><span >Sabahat Ejaz</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">Please approve this request so we can
                                        move...</div>
                                </td>
                                <td ><span >Jan 19th</span><span 
                                        class="smaller lighter">3:22pm</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-danger-inverted" href="#">2/2/2018</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller red"></span><span >Closed</span></td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar3.jpg"><span >Asima Iqbal</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">We will need some login credentials to
                                        make... </div>
                                </td>
                                <td ><span >Yesterday</span><span 
                                        class="smaller lighter">7:45am</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-warning-inverted" href="#">9/10/2019</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller yellow"></span><span >Pending</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar1.jpg"><span >Fizza Akram</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">Easy portal for tax payment
                                        </div>
                                </td>
                                <td ><span >Jan 23rd</span><span 
                                        class="smaller lighter">2:12pm</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-primary-inverted" href="#">4/1/2018</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller yellow"></span><span >Pending</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>